.painting-page,
.painter-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.painting-page-title {
  font-size: 3.3vw;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding-left: 3.3vw;
  letter-spacing: .17vw;
}

.painting-page-title:hover,
.painting-page-title:active,
.painting-page-title:focus {
  cursor: pointer;
  opacity: .9;
  transform: scale(1.03);
  transition: transform .3s;
  border-radius: 50%;
}

.painting-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.2vw;
  letter-spacing: .1vh;
  padding-right: 10vh;
  max-width: 65vw;
  text-align: center;
}

.artist-name {
  margin: auto;
  padding-right: 17vw;
  font-family: 'Playfair Display', serif;
  font-size: 2.2vw;
  letter-spacing: .1vh;
}

.artist-page-name {
  margin: auto;
  padding-right: 15vw;
  font-family: 'Playfair Display', serif;
  font-size: 2.4vw;
  letter-spacing: .1vh;
}

.save-btn {
  margin-right: 4vh;
  width: 3.5vw;
  opacity: .8;
}

.save-btn:hover,
.save-btn:focus,
.save-btn:active {
  cursor: pointer;
  opacity: .9;
  box-shadow: 0 0 3px 3px #9a9a9a;
  transform: scale(1.01);
  transition: transform .3s;
  border-radius: 10%;
  padding-bottom: .2vh;
}

.painting-nav,
.painter-nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffaf0;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 2;
  position: fixed;
}

.painting-data-container {
  display: flex;
  font-family: 'Roboto Mono', monospace;
}

.painting-box {
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9vh;
  padding-left: 2vh;
}

.artwork {
  max-width: 55vw;
  height: 60vh;
  box-shadow: 3px 9px 5px 0px #9a9a9a, 
  -1px 1px 18px 1px #607d8bbf;
}

.completion-year {
  margin-top: 4vh;
}

.artist-btn {
  color: black;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 3.3vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
}

.artist-btn:hover,
.artist-btn:focus,
.artist-btn:active {
  cursor: pointer;
  opacity: .9;
  transform: scale(1.04);
  transition: transform .3s;
  border-radius: 20%;
  margin-right: 3vw;
}

.details-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.artwork-details {
  max-height: 65vh;
}

.summary {
  font-size: 1.5vh;
  padding-right: 4vw;
  overflow: scroll;
}

.detail-title {
  font-weight: bold;
}

.loading-details-message {
  font-size: 2.5vh;
  font-style: italic;
}

.detail-location {
  padding-right: 4vw;
  font-size: 1.4vh;
  font-style: italic;
  padding-bottom: 3vh;
}

.detail-title-location {
  padding-right: 4vw;
  font-size: 1.4vh;
  font-weight: bold;
}

.no-favorites-message {
  font-size: 3vh;
  color: black;
  letter-spacing: .2vh;
  z-index: 10;
  position: absolute;
  text-align: center;
  padding: 34vh;
  margin-left: 28vh;
  font-family: 'Roboto Mono', monospace;
}
