.painting-page,
.painter-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.painting-page-title {
  font-size: 3.3vw;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding-left: 3.3vw;
  letter-spacing: .17vw;
}

.painting-page-title:hover,
.painting-page-title:active,
.painting-page-title:focus {
  cursor: pointer;
  opacity: .9;
  transform: scale(1.05);
  transition: transform .3s;
  border-radius: 50%;
}

.painting-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.2vw;
  letter-spacing: .1vh;
  max-width: 65vw;
  text-align: center;
}

.artist-name {
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 2.2vw;
  letter-spacing: .1vh;
}

.artist-page-name {
  padding-left: 10vh;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 2.4vw;
  letter-spacing: .1vh;
}

.save-btn {
  margin-right: 7vh;
  width: 3.4vw;
  opacity: .9;
}

.save-btn:hover,
.save-btn:focus,
.save-btn:active {
  cursor: pointer;
  opacity: .9;
  box-shadow: 0 0 3px 3px #9a9a9a;
  transform: scale(1.01);
  transition: transform .3s;
  border-radius: 10%;
  padding-bottom: .2vh;
}

.painting-nav,
.painter-nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffaf0;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 2;
  position: fixed;
}

.painting-data-container {
  display: flex;
  font-family: 'Roboto Mono', monospace;
}

.painting-box {
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9vh;
  padding-left: 2vh;
}

.artwork {
  max-width: 55vw;
  height: 60vh;
  box-shadow: 3px 9px 5px 0px #9a9a9a, 
  -1px 1px 18px 1px #607d8bbf;
}

.completion-year {
  margin-top: 4vh;
}

.artist-btn {
  color: black;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 3.3vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
}

.artist-btn:hover,
.artist-btn:focus,
.artist-btn:active {
  cursor: pointer;
  opacity: .9;
  transform: scale(1.04);
  transition: transform .3s;
  border-radius: 20%;
  margin-right: 3vw;
}

.details-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.artwork-details {
  max-height: 65vh;
}

.summary {
  font-size: 1.5vh;
  padding-right: 4vw;
  overflow: scroll;
}

.detail-title {
  font-weight: bold;
}

.loading-details-message {
  font-size: 2.5vh;
  font-style: italic;
}

.detail-location {
  padding-right: 4vw;
  font-size: 1.4vh;
  font-style: italic;
  padding-bottom: 3vh;
}

.detail-title-location {
  padding-right: 4vw;
  font-size: 1.4vh;
  font-weight: bold;
}

.no-favorites-message {
  font-size: 3vh;
  color: black;
  letter-spacing: .2vh;
  z-index: 10;
  position: absolute;
  text-align: center;
  padding: 34vh;
  margin-left: 28vh;
  font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 440px) {
  .art {
    max-width: 90vw;
  }

  .painting-page-title {
    font-size: 5.3vw;
  }

  .artist-btn {
    font-size: 3vh;
    min-width: 80%;
  }
  .summary {
    font-size: 2vh;
  }

  .painting-data-container {
    padding-top: 6vh;
    flex-direction: column;
    align-items: center;
    font-size: auto;
  }

  .painting-title {
    font-size: 2.5vh;
    align-items: right;
  }

  .details-container{
    align-items: center;
    font-size: auto;
  }

  .artwork-details {
    text-align: center;
  }

  .artwork{
    max-width: 55vw;
    height: 60vh;
  }

  .painting-box {
    margin-top: 20%;
    height: 50vh;
    padding-left: 0;
  }

  .save-btn {
    width: 6.5vw;
  }
}

@media screen and (max-width: 440px) {
  .artist-btn {
    font-size: 3vh;
    min-width: 80%;
  }

  .summary {
    font-size: 2vh;
  }

  .painting-page-title {
    font-size: 5.3vw;
  }

  .painting-data-container {
    padding-top: 6vh;
    flex-direction: column;
    align-items: center;
    font-size: auto;
  }

  .painting-title {
    font-size: 2.5vh;
    align-items: right;
  }

  .details-container{
    align-items: center;
    font-size: auto;
  }
  
  .artwork-details {
  text-align: center;
  }
  
  .artwork{
    max-width: 55vw;
    height: 60vh;
  }

  .painting-box {
   margin-top: 20%;
   height: 50vh;
   padding-left: 0;
  }
}

@media screen and (max-width: 760px) {
  .page-title {
    font-size: 5.3vw;
  }

  .artist-name {
    font-size: 5.2vw;
  }

  .artist-btn {
    width: 80vw;
    font-size: 3vh;
    min-width: 80%;
  }

  .painting-page-title {
    font-size: 5.3vw;
  }

  .summary {
    width: 82vw;
    font-size: 2vh;
  }

  .painting-data-container {
    padding-top: 6vh;
    flex-direction: column;
    align-items: center;
    font-size: auto;
    }

  .painting-title {
    font-size: 2.5vh;
    align-items: right;
    padding: 0;
  }

  .details-container{
    align-items: center;
    font-size: auto;
  }

  .artwork-details {
    text-align: center;
  }
  
  .artwork{
    max-width: 92vw;
    height: 35vh;
  }

  .painting-box {
    margin-top: 20%;
    height: 50vh;
    padding-left: 0;
  }

  .save-btn {
    width: 6.5vw;
    margin-right: 4vw;
  }

  .artist-page-name {
    font-size: 4.4vw;
  }
}
