* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vh;
  letter-spacing: .3vh;
  background: radial-gradient(#d9dcdf, #f9f5f7);
  /* background-color: #fffaf0; */
}

.page-title {
  font-size: 4vw;
}

.login {
  display: flex;
  padding-right: 4vw;
  /* flex-direction: column; */
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

.my-gallery-btn {
  margin-right: 4vw;
  width: 10vw;
  height: 6vh;
  font-size: 1.5vw;
  text-align: center;
}
