* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vh;
  letter-spacing: .3vh;
  background-color: #fffaf0;
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 2;
  position: fixed;
}

.page-title {
  font-size: 4vw;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-left: 1vw;
}

.my-gallery-btn {
  margin-right: 4vw;
  width: 12vw;
  height: 6vh;
  font-size: 1.5vw;
  text-align: center;
  font-family: 'Playfair Display', serif;
  letter-spacing: .2vh;
  border-radius: 1vh;
  background-color: #ffff;
  opacity: .7;
}

.my-gallery-btn:hover,
.my-gallery-btn:focus,
.my-gallery-btn:hover {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0px 0px 1px 1px #9a9a9a;
  transform: scale(1.04);
  transition: transform .3s;
 }



