.art {
  max-height: 50vh;
  max-width: fit-content;
  margin: 2vw;
  border: 7px solid #caa472;
  box-shadow: 3px 9px 5px 0px #9a9a9a, 
    -1px 1px 18px 1px #607d8bbf;
 }

 .art:active,
 .art:hover,
 .art:focus {
  cursor: pointer;
  opacity: .9;
  box-shadow: 0 0 3px 3px #9a9a9a;
  transform: scale(1.03);
  transition: transform .3s;
  transform: rotate(1deg);
 }

 .main-loading {
  font-family: 'Roboto Mono', monospace;
  font-size: 3vh;
  font-style: italic;
  padding-top: 3vh;
 }
 
.displayed-paintings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  margin-top: 8vh;
  padding-top: 3vh;
  position: relative;
  width: 100vw;
  z-index: 1;
}

.hidden {
  display: none;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.background,
.gallery {
  position: relative;
  height: 100vh;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg1::after {
  background-image: url('../assets/offwhite wallpaper.jpg');
}
