  .displayed-paintings {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 14px;
   grid-gap: 15px;
   justify-content: center;
   min-height: 80vh;
   padding: 30px;
   width: 65%;
 }
